<ion-header>
    <ion-toolbar class="overflow">
        <cp-searchbar [source]="source"
                      [key]="key"
                      [label]="label"
                      [placeholder]="placeholder"
                      [value]="selection.term"
                      (resultChange)="onResultChange($event)">
        </cp-searchbar>
      <ion-buttons slot="end">
          <ion-button size="small" color="danger" (click)="clear()">Clear</ion-button>
        <ion-button (click)="closeModal()">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
        <ion-item *ngFor="let item of source | async"
                  [class.ion-hide]="!inSearchResults(item[key])"
                  (click)="selectItem(item[label], item[key])">
            <ion-label>{{item[label]}}</ion-label>
        </ion-item>
    </ion-list>
</ion-content>
