<div class="search-container" [class.autocomplete]="autocomplete && !bindToExternal">
  <ons-search-input [attr.placeholder]="placeholder"
                    [(value)]="term"
                    class="search-el"
                    #searchInput
                    (focus)="onInputFocus($event)">
  </ons-search-input>
  <div class="clear-input" (click)="onClearInput()" [class.hide]="term.length < 3">
    <ons-icon icon="md-close-circle"></ons-icon>
  </div>
  <div class="hide-result-list" (click)="hideList()" [class.hide]="!showResults">
    <ons-icon icon="md-chevron-up"></ons-icon>
  </div>
  <div class="result-list-container" *ngIf="autocomplete && !bindToExternal" [class.hide]="!showResults">
    <ons-list modifier="noborder">
      <ons-list-item *ngFor="let item of results"
                     tappable
                     [class.selected]="value === item[bindValue]"
                     (click)="selectItem(item)">
        <div class="center" [attr.data-value]="item[bindValue]">{{ item[bindLabel] }}</div>
      </ons-list-item>
    </ons-list>
  </div>
</div>
