<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <cp-searchbar [source]="tenants" (resultChange)="onResultChange($event)"></cp-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list *ngIf="tenants | async" lines="full" class="ion-no-margin ion-no-padding">
        <ion-item *ngFor="let tenant of tenants | async" [class.ion-hide]="!inSearchResults(tenant.id)">
            <ion-grid>
                <ion-row>
                    <ion-col size="8">{{tenant.shop_name}}</ion-col>
                    <ion-col size="4" class="ion-text-right"><small>{{tenant.units_string}}</small></ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="12">
                        <ion-text color="danger" class="text-sm flex ion-align-items-center">
                            <span *ngIf="tenant.balance.current !== 0">
                                {{tenant.balance.current * -1 | float:'1.2-2'}}
                            </span>

                            <span class="text-bld" *ngIf="tenant.flags.rent_invoices !== tenant.flags.months">
                                {{tenant.flags.rent_invoices}}/{{tenant.flags.months}}
                            </span>

                            <ion-icon name="calendar" *ngIf="tenant.flags.no_tenancy_start"></ion-icon>
                            <ion-icon name="business" *ngIf="tenant.flags.missing_business_info"></ion-icon>
                            <ion-icon name="mail" *ngIf="tenant.flags.no_email"></ion-icon>
                        </ion-text>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>
    </ion-list>
</ion-content>
