<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="dashboard">
            <ion-icon name="stats"></ion-icon>
            <ion-label>Dashboard</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="tenant-list">
            <ion-icon name="people"></ion-icon>
            <ion-label>Tenants</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="invoice-form">
            <ion-icon name="paper"></ion-icon>
            <ion-label>Invoice</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="payment-form">
            <ion-icon name="cash"></ion-icon>
            <ion-label>Payment</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="meter-reading-form">
            <ion-icon name="time"></ion-icon>
            <ion-label>Reading</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>
