<ion-header>
    <ion-toolbar class="overflow">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <cp-modal-searchbar [source]="tenants"
                            [selection]="selection"
                            (selectionChange)="onSelectionChange($event)">
        </cp-modal-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ng-container *ngIf="selection.key">
        <ion-fab horizontal="end" vertical="top" slot="fixed" edge>
            <ion-fab-button color="primary" (click)="save()">
                <ion-icon name="checkmark"></ion-icon>
            </ion-fab-button>
        </ion-fab>

        <ion-list class="ion-no-margin ion-no-padding">
            <ion-radio-group [(ngModel)]="checkedMeter">
                <ion-item *ngFor="let meter of tenantMeters; let last = last" [lines]="last ? 'full' : null">
                    <ion-label>{{meter.id}}
                        <ion-icon [name]="meter.type === 'E' ? 'flash' : 'water'"></ion-icon>
                    </ion-label>
                    <ion-radio slot="start" [value]="meter.id" [disabled]="meter.disabled"></ion-radio>
                </ion-item>
            </ion-radio-group>
        </ion-list>
        <ion-list lines="full" class="ion-no-margin ion-no-padding">
            <ion-item lines="none">
                <ion-label class="text-sm">Reading</ion-label>
                <ion-input required type="number"
                           inputmode="decimal"
                           [min]="meterReading.readingValue"
                           [value]="meterReading.readingValue"
                           debounce="500"
                           (ionChange)="setReadingProperty('readingValue', $event.detail.value)">
                </ion-input>
            </ion-item>
            <ion-item>

                <ion-grid class="ion-no-padding">
                    <ion-row nowrap align-items-center class="text-sm ion-text-nowrap">
                        <ion-col class="ion-no-padding">
                            <ion-text color="medium">
                                Last: {{meterReading.calculations.last}}
                            </ion-text>
                        </ion-col>
                        <ion-col class="ion-no-padding">
                            <ion-text color="medium">
                                Usage: {{meterReading.calculations.usage}}
                            </ion-text>
                        </ion-col>
                        <ion-col>
                            <ion-text color="medium">
                                Payable: {{meterReading.calculations.amount | floatCurrency:'MYR'}}
                            </ion-text>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-item>

            <ion-item>
                <ion-label class="text-sm">Date</ion-label>
                <ion-input required type="date"
                           [value]="meterReading.date"
                           debounce="500"
                           (ionChange)="setReadingProperty('date', $event.detail.value)">
                </ion-input>
            </ion-item>

            <cp-image-uploader (statusChange)="updateProofFile($event)"></cp-image-uploader>
        </ion-list>
    </ng-container>
</ion-content>
