.image-uploader {
  position: relative;
  height: 150pt;
  margin-top: 10pt;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;

  > input {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
}
