<div class="image-uploader" [ngStyle]="getBackground()">
    <ion-fab horizontal="center" vertical="center" *ngIf="!hasFile()" (click)="fileInput.click()">
        <ion-fab-button color="secondary">
            <ion-icon [name]="extraTypes.length ? 'document' : 'image'" color="light"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <ion-fab horizontal="end" vertical="bottom" *ngIf="hasFile()">
        <ion-fab-button color="warning" size="small" (click)="reset()">
            <ion-icon name="close" color="light"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <div class="preview-document" *ngIf="hasFile() && !fileData.url" (click)="fileInput.click()">
        <ion-text color="primary">{{fileData.extension | uppercase}} added</ion-text>
        <div class="change">
            <ion-icon name="create"></ion-icon>
        </div>
    </div>

    <input type="file" accept="{{ accepts.join(', ') }}" (change)="process($event)" #fileInput>
</div>
